body {
    overflow: hidden;
}

#wrapper {
    margin-top: 100px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.pathElement {
    height: auto;
    width: 50px;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    /* min-height: 100px; */
}

.pathMovable {
    width: 90%;
    height: 100px;
    background-color: cyan;
    pointer-events: none;
}

.characterContainer {
    height: auto;
    width: auto;
    vertical-align: middle;
    display: inline-block;
    font-size: 40px;
    /* background-color: #ccc; */
    margin-right: 1px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.characterContainer.space {
    width: 15px;
}

#pointer {
    position: fixed;
    border-right: 2px solid cyan;
}